*.egg-info
*.mo
*.pyc
*.sublime-*
*~
.*.kate-swp
.DS_Store
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
collective.behavior.localdiazo.nja
coverage/
develop-eggs/
downloads/
eggs/
include/
lib/
library-settings.txt
local.cfg
log.html
Makefile
output.xml
parts/
report.html
selenium*
src/collective.behavior.localregistry/
var/
