*.egg-info
*.mo
*.pyc
*.sublime-*
*~
.*.kate-swp
.DS_Store
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
collective.behavior.localdiazo.nja
library-settings.txt
local.cfg
log.html
output.xml
report.html
selenium*
bin/
coverage/
develop-eggs/
downloads/
eggs/
include/
lib/
parts/
src/collective.behavior.localregistry/
var/
