language: python
python: 2.7
sudo: false
cache:
  directories:
  - eggs
  - parts/node
addons:
  firefox: 45.8.0esr
env:
  - PLONE_VERSION=4.3
matrix:
  fast_finish: true
install:
  - sed -ie "s#test-4.3#test-$PLONE_VERSION#" buildout.cfg
  - python bootstrap.py
  - bin/buildout $VERSIONS annotate
  - bin/buildout $VERSIONS
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - firefox -v
script:
  - bin/code-analysis
  - bin/test
after_success:
  - bin/createcoverage
  - pip install coveralls
  - coveralls
notifications:
  irc: irc.freenode.org#plone-testing
